<div id="freighter-wrap" class="wrap" aria-live="polite">
  <small class="ifSignedIn ellipsis" data-freighter-ellipsis></small>
  <div class="ifSignedOut">
    <small style="display: none" data-freighter-error></small>
    <button
      style="display: none"
      data-freighter-connect
      aria-controls="freighter-wrap">Connect</button
    >
  </div>
</div>

<style>
  .wrap {
    text-align: center;
  }

  .ellipsis {
    line-height: 2.7rem;
    margin: auto;
    max-width: 12rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
  }
</style>

<script>
  import * as wallet from "../wallet";

  const button = document.querySelector("[data-freighter-connect]") as HTMLInputElement;
  const ellipsis = document.querySelector("[data-freighter-ellipsis]") as HTMLElement;
  const errorMsg = document.querySelector("[data-freighter-error]") as HTMLElement;

  button.addEventListener("click", async () => {
    button.disabled = true;
    await wallet.enable();
    button.disabled = false;
  });

  wallet.onChange(async ({ account }) => {
    if (wallet.isSignedIn()) {
      ellipsis.innerHTML = `Signed in as ${account}`;
      ellipsis.title = account;
    } else if (wallet.isSignedInToWrongNetwork()) {
      errorMsg.innerHTML = "Please switch to Testnet";
      errorMsg.style.display = "block";
      button.style.display = "none";
    } else if (wallet.freighterIsLocked()) {
      errorMsg.innerHTML = "Please unlock Freighter";
      errorMsg.style.display = "block";
      button.style.display = "none";
    } else {
      errorMsg.style.display = "none";
      button.style.display = "block";
    }
  });
</script>
