<strong>Incrementor</strong><br />
Current value: <strong id="current-value" aria-live="polite">???</strong><br />
<br />
<button data-increment aria-controls="current-value">Increment</button>

<script>
  import { Contract, networks } from "incrementor-client";

  const incrementor = new Contract({
    ...networks.futurenet,
    rpcUrl: 'https://rpc-futurenet.stellar.org',
  });

  const button = document.querySelector("[data-increment]");
  const currentValue = document.querySelector("#current-value");

  button.addEventListener("click", async () => {
    button.disabled = true;
    button.classList.add("loading");
    currentValue.innerHTML =
      currentValue.innerHTML +
      '<span class="visually-hidden"> – updating…</span>';

    const newValue = await incrementor.increment();

    // Only use `innerHTML` with contract values you trust!
    // Blindly using values from an untrusted contract opens your users to script injection attacks!
    currentValue.innerHTML = newValue;

    button.disabled = false;
    button.classList.remove("loading");
  });
</script>
